@font-face {
  font-family: mexicanFont;
  src: url(fonts/Mexicana.ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/img/pollobg.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "mexicanFont", Arial, Helvetica, sans-serif;
}

.title {
 font-size: 4vw;
 text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.7);
}

canvas {
  background-color: black;
  display: block;
  z-index: 1;
}

.canvasContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loseScreen {
  background-image: url("./img/9_intro_outro_screens/game_over/game over.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 720px;
  height: 480px;
  z-index: 4;
  display: none;
}

.winScreen {
  background-image: url("./img/9_intro_outro_screens/win/won_2.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 720px;
  height: 480px;
  z-index: 4;
  display: none;
}

.startScreen {
  background-image: url("./img/9_intro_outro_screens/start/startscreen_2.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 720px;
  height: 480px;
  z-index: 4;
  display: block;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

  @media only screen and (max-height: 480px) {
    canvas {
      height: 100vh;
    }
    .title {
      display: none;
    }
  }
